//barre de recherche principale
#searchBar {
    position: relative;
}

#rechercher {
    position: absolute;
    right: 1rem;
    top: 2rem;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
}

#recherche::placeholder {
    background-color: #e7e7e7;
    color: #000000 !important;
    opacity: 0.25;
}

#recherche,
.card-title {
    background-color: #e7e7e7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#search {
    color: white;
    opacity: 1;
}

//filtres de recherches
#filters {
    display: flex;
    flex-direction: column;
    min-height: 72px;
    width: 100%;
}

.form-group {
    padding: 0;
    max-width: 1440px;
    gap: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    /*max-height: 50px;*/
}

.input-group {
    position: relative;
}

.opened-container {
    position: relative;
}

.input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chevron {
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    cursor: pointer;
}

.list-group {
    display: none;
    max-height: 397px;
    width: 667px;
    column-count: 3;
    overflow-y: auto;
}

.recipe ul {
    list-style-type: none;
    padding-left: 0 !important;
}

.list-items {
    white-space: nowrap;
    cursor: pointer;
}

strong {
    font-weight: bolder;
}

li {
    cursor: pointer;
}

.recipe p {
    max-width: 171px;
}

.form-control {
    cursor: pointer;
}

#selectedTag {
    margin: 1rem 0 !important;
    width: 100%;
    position: relative;
}

.newTag {
    position: relative;
}

.newTag img {
    position: absolute;
    right: 10px;
}

#close {
    cursor: pointer;
}

//recettes

/*recettes*/

main .row {
    --bs-gutter-x: -1.4rem;
    flex-shrink: 1;
}

article {
    display: block;
}

.container {
    max-width: 1440px;
}

#error {
    font-size: 1.5rem;
    width: auto;
    margin: 2rem auto;
    color: #D04F4F;
}

.card {
    overflow: hidden;
    font-size: 0.8rem;
    height: 100%;
}

.card-img-top {
    background-color: #c7bebe;
    border: none;
    height: 160px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    background-color: #e7e7e7;
    overflow: hidden;
    height: 200px;
}

.card-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.time,
.ingredient-container {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.minutes {
    font-size: 18px;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 110px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}