        .container-fluid {
            // border: 2px solid green;
            margin-top: 20px;
            .header {
                // border: 4px solid pink;
                justify-content: center;
                text-align: center;
                padding-bottom: 30px;
                .title {
                    color: #d04f4f;
                }
            }
            .form-group {
                position: relative;
                // background-color: pink;
                .form-control {
                    font-weight: bold;
                    cursor: pointer;
                    background-color: #e7e7e7;
                }
                .form-control::placeholder {
                    opacity: 0.90;
                    font-weight: 100;
                }
                .searchIcon {
                    position: absolute;
                    right: 1rem;
                    top: 0.5rem;
                    z-index: 10;
                }
            }
        }
        
        //Filtres
        .inputFilters {
            display: flex;
            margin-bottom: 10px;
            // border: 4px solid greenyellow;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
        }
        
        .blockInput {
            position: relative;
            &:hover {
                .dropdown-filter {
                    display: block;
                }
                .chevron {
                    // border: 4px solid blue;
                    transform: rotate(180deg);
                }
            }
            .form-control {
                color: #e7e7e7;
                width: 90%;
                min-width: 170px;
                // border: 4px solid red;
                &::placeholder {
                    color: #e7e7e7;
                }
            }
            .chevron {
                // border: 4px solid red;
                position: absolute;
                right: 28px;
                top: 12px;
                cursor: pointer;
            }
            .dropdown-filter {
                display: none;
                position: absolute;
                z-index: 1;
                width: 90%;
                border-radius: 5px;
                // border: 4px solid red;
                .dropdown-item {
                    text-decoration: none;
                    display: block;
                    color: #e7e7e7;
                    &:hover {
                        background-color: #ddd;
                    }
                }
                .blue {
                    &:hover {
                        color: #007bff;
                    }
                }
                .green {
                    &:hover {
                        color: #28a745;
                    }
                }
                .red {
                    &:hover {
                        color: #dc3545;
                    }
                }
            }
        }
        
        //Les recettes
        .card {
            margin-bottom: 20px;
            .container-img {
                overflow: hidden;
                position: relative;
                // border: blueviolet 2px solid;
                height: 220px;
                .imgRecipe {
                    // border: 4px solid red;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 80% 18%;
                }
            }
        }
        
        .card-body {
            background-color: #e7e7e7;
            // border: 4px solid red;
            height: 290px;
            &__header {
                // border: 2px solid red;
                display: flex;
                justify-content: space-between;
                .card-title {
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 3px;
                    // border: 2px solid red;
                    width: 70%;
                }
                .minutes {
                    font-size: 18px;
                    // border: 2px solid red;
                    // .icon-minutes {
                    //     margin-right: 5px;
                    // }
                }
            }
            .main-card {
                display: flex;
                .ingredients {
                    padding-left: 0px;
                }
                .card-text {
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    margin-left: 20px;
                    //pour que les 3 petits points soient en bas du texte:
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    // white-space: break-spaces;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // white-space: nowrap;
                    font-size: 12px;
                    width: 60%;
                    height: 180px;
                }
            }
        }
        
        .time,
        .ingredients {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 12px;
            list-style: none;
        }